<?xml version="1.0" encoding ="utf-8"?>
<configuration>
   <connectionStrings>
      <!--<add name="conString" connectionString="Data Source=.; Initial Catalog=dbAyush; User Id =sa; Password = ;" providerName="System.Data.SqlClient" />-->
      <add name="conString" connectionString="Data Source=YASH-PC\SQLEXPRESS;Initial Catalog=dbBvicam;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <system.web> 
     <compilation debug="true" targetFramework="4.0"/> 
      <sessionState timeout="20"/>
      <customErrors mode="RemoteOnly" defaultRedirect="ErrorPage.aspx"/>
      <!--<error statusCode="403" redirect="NoAccess.htm" />-->
      <!--<error statusCode="404" redirect="FileNotFound.htm" />-->
      <pages>
        <controls>
          <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
        </controls>
      </pages>
      </system.web>
        </configuration>

